<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzj.mapper.DeptMapper">

	<resultMap type="com.lzj.entity.Dept" id="deptPojo">
		<id column="dept_no" property="deptNo"/>
		<result column="dept_name" property="deptName"/>
		<result column="db_source" property="dbSource"/>
	</resultMap>

	<select id="findOne" resultMap="deptPojo" parameterType="Long">
		select dept_no,dept_name,db_source from tb_dept where dept_no=#{deptno};
	</select>
	<select id="list" resultMap="deptPojo">
		select dept_no,dept_name,db_source from tb_dept;
	</select>
	<insert id="add" parameterType="com.lzj.entity.Dept">
		INSERT INTO tb_dept(dept_name,db_source) VALUES(#{deptName},DATABASE());
	</insert>
</mapper>
 

